.app{
    background: black;
    color:white; 
    text-align: center; 
    width: 100%; 
    height: 100vh; 

}

nav{
    height: 100px; 
    display: grid;
    width: 100%; 
    border-bottom: 2px solid yellow;
    background-color: green;
    list-style-type:none; 
    margin: 0; 
    padding: 0; 



}

li{
    float: left; 
}

.button{
    width: 80px;
    height: 50px; 
    background-color: yellow;
    
}



nav h1{
    color: white; 
    font-size: 50px; 
    font-weight: 400; 

}

.list{
    color: white; 
    font-size: 25px; 
    font-weight: 300; 
    float: left; 
    display: block;
    position: relative; 
    top: 2px; 

}

.board{
    width: 450px; 
    height: 450px; 
    border: 1px solid white; 
    display: flex;
    flex-direction: column;
}

.row{
    flex: 33%; 
    display: flex; 
    flex-direction: row;
    margin: 5px; 
}

.keyboard{
    width: 800px ;
    height: 400px; 

}

